.vdr {
    touch-action: none;
    position: absolute;
    box-sizing: border-box;
    border: 1px dashed #106FFF;
}

.handle {
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #106FFF;
}

.handle-tl {
    top: -6px;
    left: -6px;
    cursor: nw-resize;
}

.handle-tm {
    top: -4px;
    left: 50%;
    margin-left: -5px;
    cursor: n-resize;
}

.handle-tr {
    top: -6px;
    right: -6px;
    cursor: ne-resize;
}

.handle-ml {
    top: 50%;
    margin-top: -5px;
    left: -4px;
    cursor: w-resize;
}

.handle-mr {
    top: 50%;
    margin-top: -5px;
    right: -4px;
    cursor: e-resize;
}

.handle-bl {
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;
}

.handle-bm {
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    cursor: s-resize;
}

.handle-br {
    bottom: -6px;
    right: -6px;
    cursor: se-resize;
}


.handle-bm,.handle-tm,.handle-ml,.handle-mr{
    width:8px;
    height:8px;
}

@media only screen and (max-width: 768px) {
    [class*='handle-']:before {
        content: '';
        left: -12px;
        right: -12px;
        bottom: -12px;
        top: -12px;
        position: absolute;
    }
}
.vdr-rotate-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #106FFF;
    border-radius: 50%;
    top: 102%;
    left: 102%;
    font-size: 14px;
}